/* Kartu utama (Tim Dokter) */
.card-custom {
  background-color: #9935D5; /* Warna ungu yang lebih mencolok */
  border-radius: 15px;
  color: white;
  padding: 30px 40px; /* Penambahan padding untuk tampilan yang lebih nyaman */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Jarak antara kartu utama dan elemen lain */
}

.card-custom h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.card-custom h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
}

.card-custom p {
  margin: 0 0 16px;
  color: white;
}

/* Placeholder Gambar */
.icon-placeholder {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px; /* Tinggi yang lebih besar untuk placeholder gambar */
  margin-bottom: 30px; /* Jarak antara placeholder dan elemen lain */
}

.icon-placeholder img {
  max-width: 80%;/*Ukurangambarsedikitlebihbesar*/
  border-radius: 20px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}